@font-face {
    font-family: 'NPSfontBold';
    src: url('/assets/fonts/NPSfont_regular.ttf') format('trutype');
    font-weight: 700;
    font-style: normal;
}

/* 기본적으로 사용할 때 */
body {
    font-family: 'NPSfontBold', sans-serif;
}